@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;300;500;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Playpen Sans', sans-serif;
}

body {
    background: url('/img/bg.jpg');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_container {
    background-color: aliceblue;
    padding: 2em;
    border-radius: 10px;
    min-width: 400px;
}

#main_container h1 {
    text-align: center;
    padding: .2em;
}

.main_container_area {
    margin: 1em 0;
    padding: 1em .4em;
    border-top: 2px solid rgb(207, 204, 204);
}

.main_container_area div {
    display: inline-block;
    margin-right: .5em;
}

.main_container_area div:first-child {
    border-right: 2px solid rgb(207, 204, 204);
    padding-right: 1em;
}

#main_container label {
    display: block;
    margin: .3em 0;
    font-weight: 900;
}

#main_container input {
    padding: .4em;
    border-radius: 3px;
    border: 1px solid #635994;
}

#main_container button {
    padding: .4em 1em;
    border: 2px solid black;
    color: #635994;
    font-weight: bold;
    background: aliceblue;
}

#main_container button:hover {
    color: aliceblue;
    background-color: #635994;
    border-color: black;
}

.tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tasks p {
    width: 60%;
}

.tasks button {
    margin-left: .5em;
}

.check_task {
    transition: .3s;
    background-color: #635994;
    border: none;
}

.check_task p {
    color: white;
    text-decoration: line-through;
}

.check_task button {
    border-color: black;
}

.hidde {
    display: none;
}

#edit #cancelEditBtn {
    margin-top: 1em;
    display: block;
}